@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    cursor: default;
    user-select: none;
}

body{
    background: rgb(109,119,172);
    background: linear-gradient(90deg, rgba(109,119,172,1) 0%, rgba(252,70,107,0.3799894957983193) 100%);
    color: rgb(192, 192, 192, 80%);
    animation: bodyAnimate 1s ease-in-out;
    min-height: 2000px;
}
.spis{
    margin: 50px;
    font-size: 22px;
    background-color: rgba(52, 53, 52, 0.198);
    width: 600px;
    padding: 40px;
    border: 3px solid rgb(167, 167, 167);
    border-radius: 3em;
    float: left;
    
}
li{
    transition: .5s cubic-bezier(0.35,-0.15, 0, 1.52);
}
li:hover{
    transform: scale(1.05);
    color: rgb(192, 192, 192);
}
h1{
    text-align: center;
   
}
.toyota_logo{
    position: fixed;
    top: 40px;
    right: 40px;
    width: 30%;
}
.hidden{
    display: none;
}
.przel{
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
}


@keyframes bodyAnimate {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
.custom1{
    list-style: georgian;
}
.custom2{
    list-style: decimal-leading-zero;
}
.custom3{
    list-style: armenian;
}
.custom4{
    list-style: disc;
    
}


